[Desktop Entry]
Version=1.0
Type=Application
Name=Custom brightness adjuster
# Add the logo of your project if you want to
# Icon=
# Add the link of script inside the project directory
# Exec=
Terminal=false
